.header {
    padding: 0.5rem;
    text-align: center;
    background: #FAF2C3;
    color: white;
    overflow: auto;
  }

  .map{
    margin: auto;
  }
  #header-img{
    max-height: 20vh;
  }
  #palm1{
    max-height: 25vh;
    position: absolute;
    right: 10px;
  }

  /* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
 
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}
 
/* Main column */
.main {   
  -ms-flex: 80%; /* IE10 */
  flex: 80%;
  background-color: white;
  padding: 20px;
}